CORS_ORIGIN=""
GCLOUD_PROJECT_ID=""
GCS_CLIENT_EMAIL=""
GCS_PRIVATE_KEY=""
GCLOUD_BUCKET=


DATABASE_URL=
POSTGRES_URL=
REDIS_URL=""


# .env file
NEXTCLOUD_URL=""
NEXTCLOUD_USER=""
NEXTCLOUD_PASSWORD=""


